@import "tailwindcss";
::selection{
  background-color: #000000;
  color: hsl(0, 55%, 48%);
}
body {
  background-color: #191818;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x:hidden;
}

.overflow-hidden{
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #760f0f;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}
